		@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,700italic,400italic);
		*{	margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		html{
			background: linear-gradient(10deg, #697CCC 0%, #697CCC 100%);
		}
		body{
  		background-color: red, green;
  		background: linear-gradient(340deg, #cce6ff 0%, #cce6ff 50%, #660000 50%, #660000 100%);
  		background-repeat: repeat-x;
  		background-attachment: all;
		}
		.cookie_container{
			position: fixed;
			width: 100%;
			margin: -17px 0px;
			padding: 0;
			background-color: indigo;
			font-size: 18px;
			font-family: cursive;
			filter: blur(-8px);
			-webkit-filter: blur(-8px);
			z-index: 1;
			color: white;
			border: 1px ridge red;
		}
		.cookie_container form p{
			color: white;
		}
		#cookieBtn{
			margin: 0px 100px;
			padding: 5px 15px;
			border: none;
			outline: none;
			border-radius: 1rem;
		}
		#closeBtn{
			float: right;
			color: red;
			cursor: pointer;
		}
		.menu_bar{
			list-style-type: none;
			font-family: 'Lucida Calligraphy';
			font-size: 16px;
			position: fixed;
			z-index: 1;
			margin-top: 80px;
			background-color: #B31B1B;
		}
		.menu_bar li{
			font-size: 1.3vw;
			display: none;
			padding: 10px 20px;
			transition: 0.6s;
			background-color: black;
			margin-left: 50px;
		}
		.menu_bar li a{
			text-decoration: none;
			transition: .15s;
			color: white;
			text-shadow: 0px 0px 1px black;
			font-weight: bolder;
			letter-spacing: 5px;
		}
		.menu_bar li a:hover{
			color: blue;
		}
		#menu_icon:hover{
			background-color: green;
		}
		.icon_lines1, .icon_lines2, .icon_lines3{
			height: 8px;
			width: 35px;
			background-color: white;
			margin: 0px 0px;
			transition: 0.6s;
			border-radius: 2rem;
			border: 1px ridge red;
		}
		.change .icon_lines1{
			-webkit-transform: rotate(-45deg) translate(-9px, 6px);
			transform: rotate(-45deg) translate(-9px, 6px);
		}
		.change .icon_lines2{
			opacity: 0;
		}
		.change .icon_lines3{
			-webkit-transform: rotate(45deg) translate(-6px, -3px);
			transform: rotate(45deg) translate(-6px, -3px);
		}
		.container-border{
			padding: 9;
			margin: 0;
			width: 100%;
			background-color: #ffffff;
		}
		.menuIcon_container{
			position: fixed;
			margin-top: 30px;
			margin-left: -5px;
			cursor: pointer;
			display: ruby-base-container;
		}
		.row.info_container{
			padding: 20px auto;
			text-align: center;
			margin: 35px 0px;
			padding: 15px 0px;
			font-size: 1.7vw;
		}
		.col-sm-4, .col-sm-8{
			font-family: 'Gentium Book Basic', serif;
			color: white;
			text-shadow: 0px 0px 2px white;
		}
		#linear_background{
			background: linear-gradient(165deg,#6C2430 40%, #003852 60%);
			border-radius: 1rem;
			position: absolute;
			height: 150px;
			width: 52vw;
			opacity: 0.2;
			filter: blur(12px);
			-webkit-filter: blur(12px);
		}
		.col-sm-8{
			opacity: 1;
		}
		blockquote:before{
			content: open-quote;
		}
		blockquote:after{
			content: close-quote;
		}
		blockquote {
			  quotes: "“" "”" "‘" "’";
			  font-style: italic;
			}

	fieldset{
			padding: 50px 10px;
			margin: 0% auto;
			color: black;
			text-align: center;
			border: 2px ridge black;
			border-radius: 2rem;
			height: 580px;
			width: 550px;
			background-color: #A7A7A8;
			background: linear-gradient(217deg, rgba(0,0,0,.8), rgb(167,167,168) 85.71%),
            linear-gradient(127deg, rgba(0,0,0,.8), rgb(167,167,168) 90.71%),
            linear-gradient(336deg, rgb(167,167,168), rgb(0,0,0) 10.71%),
            linear-gradient(336deg, rgba(0,0,0,.8), rgb(0,0,0) 90.71%);
		}
		#next_layer{
			border: 3px solid black;
			height: 470px;
			padding: 0px 0px;
			border-radius: 2rem;
			background-color: black;
		}
		legend{
			font-family: 'Segoe Print';
			font-size: 35px;
			color: blue;
		}
		input[type]{
			padding: 10px 3px;
			width: 85px;
			text-align: center;
			border-radius: 2rem;
			margin: 10px 5px;
		}
		#btn{
			padding: 15px 15px;
			outline-color: none;
			outline: none;
			background-color: blue;
			color: white;
			font-family: 'Segoe Print';
			opacity: 0.9;
		}
		#btn:hover{
			opacity: 1;
		}
		#time{
			font-family: 'Times New Roman';
			font-size: 2vw;
			color: chocolate;
			border: 2px dashed black;
			padding: 60px 0px;
			border-radius: 50rem;
			height: 250px;
			width: 250px;
			/*display: none;*/
			transition: borderColor .5s;
			background-color: #222223;
			border-color: lightblue;
		}
		#device_btn1{
			position: absolute;
			padding: 25px 5px;
			transform: translate(2450%, -40%);
			border: 1px ridge white;
			background-color: black;
			border-radius: 2rem;
			border-left-style: none;
		}
		#device_btn2{
			padding: 20px 20px;
			position: absolute;
			transform: translate(150%, 85%);
			border: 2px ridge white;
			border-radius: 50rem;
			background-color: black;
		}
		#device_btn2:hover{
			background-color: #A7A7A8;
			border-color: black;
			cursor: pointer;
		}
		#device_sound_part{
			border: 1px ridge #A7A7A8;
			display: inline-block;
			position: absolute;
			padding: 3px 30px;
			transform: translate(-50%, -270%);
			background-color: black;
			border-radius: 2rem;
		}
		h1{
			color: #F99400;
			position: absolute;
			transform: translate(250%, -370%);
		}
		#tag{
			color: white;
			float: right;
		}
		ul li{
			color: white;
			padding: 0px 7px;
			float: right;
			list-style-type: none;
		}
		#home_time{
			color: white;
			text-align: left;
		}
		#home_battary{
			color: white;
		}
		#home_wifi{
			color: white;
			margin-left: 12px;
		}
		.devices_cont{
			display: inline-block;
			padding: 10px 0px;
			width: 100%;
		}
		.col.up_menu_cont{
			padding: 10px 0px;
		}
		.col.time_cont{
			padding: 25px 0px 25px 125px;
		}
		.text_cont{
			display: inline-block;
			margin-top: -30px;
		}
		#txt1{
			font-size: 25px;
			font-family: 'Segoe Print';
		}
		#txt2{
			font-size: 40px;
			font-family: 'Segoe Print';
		}
		#txt3{
			font-size: 25px;
			font-family: fantasy;
			color: white;
		}
		.footer_cont:before{
			content: "";
			height: 0.2rem;
			width: 83vw;
			background-color: indigo;
			position: absolute;
			border-radius: 0.5rem;
		}
		.footer_cont{
			text-align: center;
			margin-top: 100px;
		}
		.footer_cont .col p a{
			color: black;
			font-family: 'Segoe Print';
			text-shadow: 0px 0px 1px blue;
		}
		.footer_cont .col p a:hover{
			color: blue;
			text-decoration: none;
		}
		.col p{
			display: inline-block;
			padding: 10px 25px;
		}
		.footer_end_cont .col{
			text-align: center;
			margin: -20px 0px -20px 0px;
		}
		#doc_end_hr{
			width: 100%;
			height: 5px;
			background-color: #ffffff;
			padding: 10px 0px;
			margin-bottom: -10px;
		}

		@media(max-width: 1441px){
			#device_btn1{
				display: none;
			}
		}
		@media(max-width: 1025px){
			#device_btn1{
				display: inline;
				transform: translate(2490%, -40%);
			}
			.col.time_cont{
				padding: 10px 0px 10px 133px;
			}
			#home_battary{
				font-size: 20px;
			}
			#home_wifi{
				font-size: 20px;	
			}
		}
		@media(max-width: 769px){
			#device_btn1{
				display: inline;
				transform: translate(2490%, -40%);
			}
			.col.time_cont{
				padding: 10px 0px 10px 163px;
			}
			#home_time{
				font-size: 12px;
			}
			#home_battary{
				font-size: 13px;	
			}
			#home_wifi{
				font-size: 13px;
			}
			#time{
				padding: 40px 0px;
				width: 200px;
				height: 200px;
				font-size: 18px;
			}
			#txt1{
			font-family: 'Segoe Print';
			}
			#txt2{
				font-family: 'Segoe Print';
			}
			#txt3{
				font-family: fantasy;
				color: white;
			}
			input[type]{
				padding: 5px 3px;
				width: 55px;
				text-align: center;
				border-radius: 2rem;
				margin: 10px 5px;
				font-size: 12px;
			}
			#tag{
				font-size: 9px;
			}
			#device_btn2{
				transform: translate(60%, 85%);
			}
			#linear_background{
				background: none;
			}
			.row.info_container{
				font-size: 2vw;
			}
			.footer_cont:before{
				margin-left: 30px;
			}
			.cookie_container{
				font-size: 12px;
			}
		}
		@media(max-width: 430px){
			fieldset{
				width: 300px;
				height: 500px;
			}
			#next_layer{
				height: 395px;
			}
			#device_btn1{
				display: inline;
				transform: translate(1330%, -40%);
			}
			#time{
				width: 160px;
				height: 160px;
				padding: 18px 0px;
				font-size: 8vw;
			}
			#txt1{
				font-family: 'Segoe Print';
				font-size: 20px;
			}
			#txt2{
				font-family: 'Segoe Print';
				font-size: 25px;
			}
			#txt3{
				font-family: fantasy;
				font-size: 18px;
				color: white;
			}
			.col.time_cont{
				padding: 10px 0px 10px 57px;
			}
			#footer_cont p{
				display: inline-block;
				font-size: 12px;
				margin: -5px 0px;
			}
			#footer_end_cont p{
				font-size: 12px;
				margin: 15px -15px;
			}
			.footer_cont:before{
				margin-left: 30px;
			}
			.cookie_container{
				font-size: 8px;
				padding: 0;
			}
			#cookieBtn{
				font-size: 10px;
				padding: 5px 10px;
				border-radius: none;
				margin: 0px;
			}
			.icon_lines1, .icon_lines2, .icon_lines3{
				height: 3px;
				width: 20px;
			}
			.menu_bar li{
				background-color: #2D2E30;
				padding: 5px 5px;
			}
			.menu_bar li a{
				font-size: 8px;
			}
			.row.info_container{
				font-size: 3vw;
			}
		}
		@media(max-width: 375px){
			fieldset{
				width: 300px;
				height: 500px;
			}
			#next_layer{
				height: 395px;
			}
			#device_btn1{
				display: inline;
				transform: translate(1330%, -40%);
			}
			#time{
				width: 160px;
				height: 160px;
				padding: 16px 0px;
				font-size: 4vw;
			}
			#txt1{
				font-family: 'Segoe Print';
				font-size: 20px;
			}
			#txt2{
				font-family: 'Segoe Print';
				font-size: 25px;
			}
			#txt3{
				font-family: fantasy;
				font-size: 18px;
				color: white;
			}
			.col.time_cont{
				padding: 10px 0px 10px 57px;
			}
			.cookie_container{
				font-size: 7px;
				padding: 0;
			}
			#cookieBtn{
				font-size: 8px;
				padding: 5px 10px;
				border-radius: none;
				margin: 0px;
			}
		}
		@media(max-width: 425px){
			fieldset{
				width: 300px;
				height: 500px;
			}
			#next_layer{
				height: 395px;
			}
			#device_btn1{
				display: inline;
				transform: translate(1330%, -40%);
			}
			#time{
				width: 160px;
				height: 160px;
				padding: 16px 0px;
				font-size: 4vw;
			}
			#txt1{
				font-family: 'Segoe Print';
				font-size: 20px;
			}
			#txt2{
				font-family: 'Segoe Print';
				font-size: 25px;
			}
			#txt3{
				font-family: fantasy;
				font-size: 18px;
				color: white;
			}
			.col.time_cont{
				padding: 10px 0px 10px 57px;
			}
		}
		@media(max-width: 330px){
			html{
				background: linear-gradient(180deg, white 10%, blue 100%);
			}
			body{
				margin: 0;
				padding: 0;
			}
			.container-border{
				width: 100%;
			}
			fieldset{
				width: 300px;
				height: 500px;
			}
			#next_layer{
				height: 395px;
			}
			#device_btn1{
				display: inline;
				transform: translate(1330%, -40%);
			}
			#time{
				width: 160px;
				height: 160px;
				padding: 16px 0px;
				font-size: 4vw;
			}
			#txt1{
				font-family: 'Segoe Print';
				font-size: 20px;
			}
			#txt2{
				font-family: 'Segoe Print';
				font-size: 25px;
			}
			#txt3{
				font-family: fantasy;
				font-size: 18px;
				color: white;
			}
			.col.time_cont{
				padding: 10px 0px 10px 57px;
			}
		}
